html {
    height: 100%;
    width: 100%;
    margin: 0%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0%;
}
.nav {
    width: 100%;
    height: 0;
    margin: 0;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}
.mobilesupport {
    display: none;
}
.mobilesupport1 {
    display: none;
}
.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.nav ul li:hover::after {
    width: 100%;
}
.banner img {
    width: 100%;
    height: 300px;
    margin: 0;
}
.why {
    display: flex;
    justify-content: center;
    align-items: center;
}
.reasons {
    display: flex;
    justify-content: center;
}
.reasons img {
    height: 100px;
    width: 100px;
    border-radius: 200px;
    border-color: black;
    border: solid;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    margin-top: 48px;
    margin-bottom: 48px;
}
.schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 100px;
    margin-top: 35px;
    border-top: solid;
    border-color: black;
}
.schedule h1 {
    margin: 0;
    padding: 30px;
}
.contact {
    height: 100px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact img{
    height: 100px;
    width: 100px;
    border-radius: 1000px;
    border: solid black;
    margin-left: 35px;
    margin-right: 35px;
}
.contacttext {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cubedude img {
    height: 200px;
    text-align: center;
}
.cubedude {
    border: solid white;
    width: 300px;
    height: 350px;
    background-color: black;
    border-radius: 30px;
    padding: 35px;
    display: block;
    align-items: center;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
}
.cubedude h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.cubedude p {
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.members {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobilemembers {
    display: none;
}
@media (max-width: 720px) {
    .mobilemembers {
        display: contents;
    }
    .members {
        display: none;
    }
    html {
        height: 100%;
        width: 100%;
        margin: 0;
    }
    body {
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .nav {
        width: 100%;
        height: 0;
        margin: 0;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
    }
    .reasons {
        display: none;
        justify-content: center;
    }
    .reasons img {
        width: 100px;
        border-radius: 200px;
        border-color: black;
        border: solid;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        margin-top: 48px;
        margin-bottom: 48px;
    }
    .mobilesupport {
        display: flex;
        justify-content: center;
    }
    .mobilesupport img {
        width: 100px;
        border-radius: 200px;
        border-color: black;
        border: solid;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        margin-top: 48px;
        margin-bottom: 48px;
    }
    .mobilesupport1 {
        display: flex;
        justify-content: center;
    }
    .mobilesupport1 img {
        width: 100px;
        border-radius: 200px;
        border-color: black;
        border: solid;
        display: flex;
        margin-top: 48px;
        margin-bottom: 48px;
    }
    .schedule h1 {
        font-size: 15px;
    }
    .contact {
        margin-left: 2px;
        margin-right: 2px;
    }
}